{% layout "layouts/base_admin.liquid" %}

{% block content %}
  <h1>sys</h1>

  <h2>error</h2>
  <ul>
    <li><a href="/admin/sys/errors/plain">plain error</a></li>
    <li><a href="/admin/sys/errors/http">hono http error</a></li>
  </ul>
{% endblock %}